* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
#topNav {
    display: flex;
    background-color: black;
    align-items: center;
    font-family: "Bangers", cursive;
    justify-content: flex-end;
}
#topNav ul {
    display: flex;
    list-style: none;
    padding: 0em;
    margin: 0em;
    font-size: 1.5em;
    align-items: center;
}
#topNav li {
    flex-flow: column wrap;
    align-items: center;
    display: flex;
    padding: 0em;
}
#topNav i {
    color: red;
    padding: .25em;
}
#topNav a {
    align-self: center;
    color: white;
    text-decoration: none;
    padding: 0em 1em;
}

#topNav a:hover{
    background-color: white;
    color: black;
    border-radius: 30px;
    text-shadow: 2px 2px orange;
}
